
html{


    background-image: linear-gradient(to bottom right,rgb(222, 90, 255),rgb(0, 56, 129));
    }
    
    
    #logo{
        width: 70px;
        height: 70px;
        margin: 0px 0px 0px 0px;
        padding: 0px 35px 0px 0px;
    }
#Yeneheberet{
    color: rgb(255, 250, 255);
     font-weight: bold;
     padding: 0px 0px 0px 35px;
     margin: 0px 0px 0px 0px;
    font-size: 50px;
    text-align: center;
    font-family: A0 Addis Abeba Unicode;}
    
#Gallary{
     
  color: rgba(218, 152, 185, 0.904);
  background-image: linear-gradient(to bottom right,rgb(253, 47, 191),rgb(93, 0, 105),rgb(0, 0, 0));
  font-family: Times New Roman;
  line-height: 5%;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5cap;
  
  width: 200px;
  height: 200px;
  margin: 0px 20px 20px 50px;
text-align: center;
padding: 10px;}
  
#home{
     
  color: rgba(218, 152, 185, 0.904);
  background-image: linear-gradient(to bottom right,rgb(253, 47, 191),rgb(93, 0, 105),rgb(0, 0, 0));
  font-family: Times New Roman;
  line-height: 5%;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5cap;
  
  width: 200px;
  height: 200px;
  margin: 0px 20px 20px 50px;
text-align: center;
padding: 10px;
  }
  
#mezemran{
    text-align: center;
    font-weight: bold;
    font-family: A0 Addis Abeba Unicode;
    font-size: 20px;
    padding: 00px;
    margin: 0px 0px 20px 0px;
    color: rgb(255, 250, 255);
    text-shadow: 40cap;
    background-image: linear-gradient(to top right,rgb(222, 90, 255),rgb(255, 55, 172));
    border-radius: 25cap;
       }
       
#About{
  color: rgba(218, 152, 185, 0.904);
  background-image: linear-gradient(to bottom right,rgb(253, 47, 191),rgb(93, 0, 105),rgb(0, 0, 0));
  font-family: Times New Roman;
  line-height: 5%;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5cap;
  
  width: 200px;
  height: 200px;
  margin: 0px 20px 20px 20cap;
text-align: center;
padding: 10px;
  }
  #contact{
    color: rgba(218, 152, 185, 0.904);
    background-image: linear-gradient(to bottom right,rgb(253, 47, 191),rgb(93, 0, 105),rgb(0, 0, 0));
    font-family: Times New Roman;
    line-height: 5%;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5cap;
    
    width: 200px;
    height: 200px;
    margin: 0px 20px 20px 10cap;
  text-align: center;
  padding: 10px;
   
  }
  #maranata, #teshirolgnal{
    color: white;
    text-align: center;
  }
  #teshirolgnall{
    color: white;
    text-align: center;}
    #kahnachin, #temesgen{
      color: white;
    text-align: center;
    }
    #yekedusan
    {
      color: white;
      text-align: center;}
      #kahnachin, #temesgen{
        color: white;
      text-align: center;
      }